<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="index.css">
        <meta charset="utf-8" />
        <title>Shaur(ya) Kumar Portfolio Website</title>
        <script src="index.js"></script>
    </head>
    <!-- onload nextSlide(1) loads up the image carousel in the personal info section-->
    <body onload="nextSlide(1)">
        <!-- my beautiful face -->
        <section class="imgheading"></section>

        <!-- cool intro heading with quote and interests -->
        <section class="heading">
            <p th:text="'Hello, ' + ${name}"></p>
            <h1>Shaurya Kumar</h1>
            <h2>"Write yourself."</h2>
            <h2>Robotics, Game Development, Cybersecurity, Data Analysis</h2>
        </section>

        <!-- all my personal info, including name and programming languages and a slideshow of all my clubs-->
        <section class="personal-info">
            <p>
            I am currently a Junior EE and CE Student at New York University!
            </p>
            <section>
                Programming Languages
            <ul>
                <li>C++</li>
                <li>Python</li>
                <li>Java</li>
                <li>SQL</li>
                <li>HTML w/ CSS</li>
                <li>JavaScript</li>
                <li>C#</li>
                <li>Lua</li>
            </ul>
            </section>

            <!-- current clubs/work slideshow with links-->
            <div class="slideshow">
                <div class="slide fade-anim">
                    <a target="_blank" href="https://www.nyurobomaster.com/home"><img src="https://cdn.discordapp.com/attachments/1057765263820455957/1057799144565112832/UltraViolet_Logo.png"></a>
                    <div class="caption">RoboMasters Team UltraViolet</div>
                </div>

                <div class="slide fade-anim">
                    <a href="https://gonyuathletics.com/sports/2022/7/26/egaming.aspx" target="_blank"><img src="https://cdn.discordapp.com/attachments/1054167348669587517/1060611290516705320/Copy_of_Ultraviolet.jpg"></a>
                    <div class="caption">NYU eSports</div>
                </div>

                <div class="slide fade-anim">
                    <a href="https://engage.nyu.edu/organization/poly-gaming-network" target="_blank"><img src="https://cdn.discordapp.com/attachments/1054167348669587517/1054167779089068062/df633614-f9fc-430b-a355-49927f00781180cff44a-163f-4558-a5a6-617d14a2bc02_png.png"></a>
                    <div class="caption">Poly Gaming Network</div>
                </div>
                <a class="prev" onclick="nextSlide(1)">&#10094;</a>
                <a class="next" onclick="nextSlide(-1)">&#10095;</a>
            </div>
        </section>

        <!-- each projects section houses up to 4 projects for display-->
        <section class="projects">
            <!-- a project is an a class wrapping an image, header, and paragraph writing about it-->
            <a href="https://github.com/mewtwoshaurd/mewtwoshaurd.github.io" target="_blank">
                <img src="https://cdn.discordapp.com/attachments/1057765263820455957/1060333574005473390/you-are-here-icon-2.png">
                <h4>This Website!</h4>
                <p>I designed this website from scratch using HTML, CSS, and JS.</p>
            </a>

            <a href="https://github.com/NYU-Robomaster-Ultraviolet" target="_blank">
                <img src="https://cdn.discordapp.com/attachments/1057765263820455957/1057799144565112832/UltraViolet_Logo.png">
                <h4>Robotics Embedded Programming</h4>
                <p> I am the lead Embedded Programming C++ developer for the NYU RoboMaster Team UltraViolet.</p>
                </p>
            </a>
            
            <a href="https://start.gg/torch-fest" target="_blank">
                <img src="https://cdn.discordapp.com/attachments/1057765263820455957/1060335144751341568/Logod.png">
                <h4>Smash Torch Fest</h4>
                <p>
                    I am the Founder and Tournament Organizer of the Super Smash Bros. Tournament Series, Torch Fest.
                </p>
            </a>

            <a href="https://drive.google.com/file/d/1EnfSxy8XJ4Dhq-WIKFSK6JEKG4KHTy-r/view?usp=sharing" target="_blank">
                <img src="https://cdn.discordapp.com/attachments/1057765263820455957/1061430016845553774/iemr_lab.png" alt="">
                <h4>IEMR Lab Research</h4>
                <p>
                    I was an Undergraduate Research Student helping with this lab paper.
                </p>
            </a>
        </section>

        <!-- projects class 2-->
        <section class="projects">
            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2645388367" target="_blank">
                <img src="https://cdn.discordapp.com/attachments/1057765263820455957/1062063318178726008/tccc.png">
                <h4>Three Course Cater Craze</h4>
                <p>
                    I was the Lead Gameplay Designer and Lua Programmer for this tabletop game in Tabletop Simulator.
                </p>
            </a>
            <a href="https://github.com/mewtwoshaurd/sids_device_edproject" target="_blank">
                <img src="https://cdn.discordapp.com/attachments/1057765263820455957/1060348512279203950/Screenshot_2023-01-04_180530-removebg-preview.png">
                <h4>Project IronHeart</h4>
                <p>
                    I was the Lead Designer and C Embedded Programmer for a small and simple breath detection device to understand causes of SIDS.
                </p>
            </a>

            <a href="https://www.ntdaily.com/unt-tams-students-create-hoodie-for-children-with-autism/" target="_blank">
                <img src="https://cdn.discordapp.com/attachments/1057765263820455957/1060350817116377138/Helping-Hoodie-3.jpg">
                <h4>The Helping Hoodie Prototype</h4>
                <p>
                    I was a Lead Engineer and Inventor of the Helping Hoodie, a wearble technology to help combat sensory overload for people with autism.
                </p>
            </a>

            <a href="https://github.com/Aearost/Aranarth-Core/tree/shaur_dev" target="_blank">
                <img src="https://cdn.discordapp.com/attachments/1057765263820455957/1061428342433255456/lkmy046-1513995014.png" alt="">
                <h4>Aranarth-Core</h4>
                <p>
                    I was the Java Developer for this proprietery Minecraft server plugin.
                </p>
            </a>
        </section>

        <!-- projects class 3-->
        <section class="projects">
            <!-- add projects here -->
        </section>

        <!-- bar at top with all important links-->
        <section class="socials">
            <article class="contact-me">
                <a class="social" href="mailto:sk8753@nyu.edu" target="_blank">My Email</a>
                <a class="social" href="https://www.linkedin.com/in/shaurya-kumar-442840181/" target="_blank">My Linkedin</a>
                <a class="social" href="https://github.com/mewtwoshaurd" target="_blank">My GitHub</a>
                <a class="social" href="https://twitter.com/shaur_k" target="_blank">My Twitter</a>
                <a class="social" href="https://drive.google.com/file/d/18tgO-5f2QN0iYpv-peAzu52JTKP5zjA2/view?usp=sharing" target="_blank">My Resume</a>
            </article>
        </section>

        <section class="spring_stuff">
            
        </section>
    </body>
</html>